<div class="tokyo">
    <h1 style="color:red;">Ride or Die</h1>
	<img src="drift.gif"/>
	<br>
	<audio controls loop controlsList="nodownload">
		<source src="drift.mp3" type="audio/mpeg">
	</audio>
	<br>
	<p style="color:red;">Hi! I'm Kevin and I do some stuff</p>
	<br>
	<p style="color:red;font-size:10px">Some Links</p>
	<a href="http://invite.reesquad.net"><img src="disclogo.png" style="width:320px;height:180px;"></a>
	<a href="http://twitter.com/D3rKevin"><img src="twitlogo.png" style="width:180px;height:180px;"></a>
	<br>
	<p style="color:red;font-size:12px">Not centered? Not my Problem</p>
</div>