.example-spacer{
    flex: 1 1 auto;
}

.icon-button {
    outline: none !important;
    border: 0 !important;
    border-radius: 0px;
    outline-style: none !important;
    background-color: Transparent;
}

.toolbar-icon {
    color: white;
}

.sidebar {
    width: 15vw;
    min-height: 500px;
    height: 100vh;
    text-align: center;
    background: #ddd6d6;
}

.main.content {
    margin: auto;
    height: 100vh;
}

.text-center {
    text-align: center;
}

mat-toolbar {
    background: #1a0c64 !important;
    color: white;
}


mat-sidenav-container {
    height: calc(100vh - 65px);
}

.sidenav-button {
    margin: auto;
    width: 100vw;
    height: auto;
    text-align: center;
}

.sidebar-button {
    outline: none !important;
    border: 0 !important;
    border-radius: 0px;
    outline-style: none !important;
    background-color: Transparent;
    margin: auto;
    width: calc(15vw - 15px);
    text-align: center;
}