<mat-toolbar role="heading" color="primary">
  <button mat-button class="icon-button" (click)=sidenav.toggle()>
    <mat-icon aria-hidden="false" aria-label="Menu icon" class="toolbar-icon">menu</mat-icon>
  </button>

  <span class="example-spacer"></span>
  <span>H-hewwo~</span>
  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu" class="icon-button">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="toolbar-icon">settings</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Option 1</span>
    </button>
    <button mat-menu-item>
      <span>Log Out</span>
    </button>
  </mat-menu>

</mat-toolbar>




<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidebar" mode="push">
      <nav>

        <button routerLink='' routerLinkActive=true (click)=sidenav.close() class="sidebar-button">
          <mat-icon>home</mat-icon>
          <span>Start</span>
        </button>

        <mat-divider></mat-divider>

        <button routerLink='/tokyo' routerLinkActive=true (click)=sidenav.close() class="sidebar-button">
          <mat-icon>directions_car</mat-icon>
          <span>Toyko</span>
        </button>

        <mat-divider></mat-divider>
        
        <button routerLink='/social' routerLinkActive=true (click)=sidenav.close() class="sidebar-button">
          <mat-icon>group</mat-icon>
          <span>Socials</span>
        </button>
      </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
