<mat-toolbar role="heading" color="primary">
  <button mat-button class="icon-button" (click)=sidenav.toggle()>
    <mat-icon aria-hidden="false" aria-label="Menu icon" class="toolbar-icon">menu</mat-icon>
  </button>

  <span class="example-spacer"></span>
  <span>H-hewwo~</span>
  <span class="example-spacer"></span>

  <button mat-button (click)=redirect() class="icon-button">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="toolbar-icon">home</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidebar">
    <div>
      <span>A</span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <span>Very Nais</span>
  </mat-sidenav-content>
</mat-sidenav-container>
