.socials {
    margin: auto;
    height: 100vh;
    background-color: rgb(31, 28, 28);
    text-align: center;
}

h1 {
    color: white;
}

span {
    color: white;
}

.socials-link {
    width: 20vw;
    margin: auto;
}