<div class="socials">
    <h1>Where to find me</h1>
    <a href="https://www.twitter.com/D3rKevin" class="socials-link">
        <span>
            Twitter
        </span>
    </a>

    <mat-divider></mat-divider>

    <a href="https://steamcommunity.com/id/D3rKevin/" class="socials-link">
        <span>
            Steam
        </span>
    </a>

    <mat-divider></mat-divider>

    <a href="https://github.com/D3rKevin/" class="socials-link">
        <span>
            GitHub
        </span>
    </a>

    <mat-divider></mat-divider>

    <a href="http://invite.reesquad.net" class="socials-link">
        <span>
            My Discord
        </span>
    </a>
</div>
